# Python
__pycache__/
*.py[cod]
venv/
.venv/

# Environment variables
.env

# Node
node_modules/
dist/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
# YOLO models
*.pt

# Dataset and large media files
dataset/
*.mp4